@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

:root{
    --custom-pink: #F67DA1;
    --custom-grey: #212121;
    --light-pink:#BA8B88;
    --light-pink-2:#FEE1E6;
    --line-color:#5c5c5c;
    --light-grey:#767676;
}


.navbar{
    background-color: #212121;
    color: white;
    justify-content: space-around
}
.navbar-flex{
    display: flex;
}

.navbar-flex p{
    margin-top: 15px;
    margin-right: 15px;
}

.pinktext{
    color: #F67DA1;

}

.search-container{
    display: flex;
    justify-content: space-between;
}

.search-container img{
    margin-right: 15px;
}

.search-container input{
    border-bottom: 1px solid whitesmoke;
    background-color: #212121;
}

.menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    color: white;

}

.menu-header p{
    margin: 10px;
}

.header-text{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: #F67DA1;
}

.header-text p{
    margin-left: 10px;
    margin-top: 10px;
}


.landing{ 
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    background-image:linear-gradient( rgba(254, 225, 230, 0.4) 100%, rgba(254, 225, 230, 0.1)100%),url("assets/shutterstock_1477405955\ 1.png") ;   
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-content{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: absolute;
   left: 10%;
   color:  #BA8B88;
   font-size: 18px;
}

.header-title{
    color: #212121;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.dots{
    background: #FEE1E6;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.dots img{
    margin-right: 10px;
}

.btn-header{
    background-color:  #212121;
    color: white;
    width: 210px;
    height: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 5px 10px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.img-header-1{
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
}

.img-header-2{
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

.img-header-3{
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
}




.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

 .gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

 .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}


.gallery__item--5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
}  


.sale{
    display: flex;
    justify-content: center;
}

.sale-h2{
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color:#212121;
}


.card-title{
    text-transform: uppercase;
    font-weight: 500;
}

.stars img{
    margin: 10px 5px;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linethrough{
    margin: 5px;
    font-size: 14px;
    text-decoration: line-through;
}

.price-bigger{
    margin: 5px;
    font-size: 20px;
    font-weight:500;
}

.basket-btn{
    margin-top: 10px;
    width: 160px;
    height: 50px; 
    background: #212121;   
    text-transform: uppercase; 
    color: white; 
}

.sale-button-box{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale-button-box button{
    width: 300px;
    height: 50px;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 1px solid #212121;
    box-sizing: border-box  
}


.pinkbox{
    margin: 5%;
    background:linear-gradient( rgba(246, 125, 161, 0.9) 100%, rgba(246, 125, 161, 0.9)100%),url("assets/image\ 38.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    position: relative;
}

.pinkbox-button{
    width: 210px;
    height: 50px;
    background: #212121;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 15px;
}

.pinkbox-text{
    text-align: center;
}

.pinkbox-text h1{
    color:  #212121;
    text-transform: uppercase;
}

.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu p{
    margin: 15px;
}

.littleline{
    margin: 15px;
    width: 1px;
    height: 17px;
    background-color: #5c5c5c;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialmedia img{
    margin: 15px;
}
.language{
    display: flex;
    justify-content: center;
    align-items: center;
}

.language select{
    width: 60px;
    height: 30px;
    background-color: #212121;   
    color: #FFFFFF;
    margin-left: 15px;
}

.greybox{
    padding: 20px;
    background-color: #212121;
    color: #FFFFFF; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grey{
    color: #767676;

}

.footer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footer img{
    margin: 15px;
    width: 50px;
}


@media screen and (max-width: 900px) {
   .navbar{
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .search-container{
       flex-wrap: wrap;
       justify-content: center;
   }

   .img-header-1, .img-header-2, .img-header-3{
       font-size: 10px;
       margin-left: 5px;
       margin-top:5px;
   }

   .menu-header{
       flex-wrap: wrap;
   }
  }
